<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Ranking Global
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background">
  <ion-list>
    <div class="divTabela">
      <table>
        <tr>
          <th>JOGADORES</th>
          <th>PONTOS</th>
        </tr>
      </table>
    </div>
    <ion-item *ngFor="let r of Ranking" class="background">
      <!--*ngFor="let r of Ranking"-->

      <div class="divTabela1">
        <table>
          <tr>
            <td>{{r.nome}}</td>
            <!--{{r.nome}}-->
            <td>{{r.pontos}}</td>
            <!--{{r.pontos}}-->
          </tr>
          <!--<tr>
            <td>Alvino Noel</td>
            <td>6500</td>
          </tr>
          <tr>
            <td>Marlon Steglich</td>
            <td>6143</td>
          </tr>-->
        </table>
      </div>
    </ion-item>
  </ion-list>
</ion-content>