<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <img class="navbarLogo" src="assets/imgs/logo1.1.png" />
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="home">
    <ion-searchbar (ionInput)="getJogos($event)"></ion-searchbar>
    <ion-list>
        <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select (ionChange)=" getCategorias($event)">
                <ion-option value="arcade">
                    <ion-item >
                        Arcade
                    </ion-item>
                </ion-option>
                <ion-option>Estratégia</ion-option>

            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list align="center">
        <ion-item *ngFor="let jogo of jogos1">
            {{ jogo }}
            <ion-thumbnail item-start>
                <img src="assets/imgs/T-REX.jpg">
            </ion-thumbnail>
            <p>Acarde</p>
            <button round item-end ion-button color="lightprimary" (click)="jogar_t_rex()">JOGAR</button>
        </ion-item>
        <ion-item *ngFor="let jogo of jogos2">
            {{ jogo }}
            <ion-thumbnail item-start>
                <img src="assets/imgs/jogo_da_velha.jpg">
            </ion-thumbnail>
            <p>Estratégia</p>
            <button round item-end ion-button color="lightprimary" (click)="jogar_jogo_da_velha()">JOGAR</button>
        </ion-item>
    </ion-list>
</ion-content>