<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <img class="navbarLogo" src="assets/imgs/logo1.1.png" />
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding id="home">
    <ion-searchbar (ionInput)="getJogos($event)"></ion-searchbar>
    <ion-list>
        <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select [(ngModel)]="categoria">
                <ion-option value="ação">AÇÃO</ion-option>
                <ion-option value="aventura">AVENTURA</ion-option>
                <ion-option value="tiro">TIRO</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-list align="center">
        <ion-item *ngFor="let jogo of jogos">
            {{ jogo }}
            <ion-thumbnail item-start>
                <img src="assets/imgs/T-REX.jpg">
            </ion-thumbnail>
            <p>Descrição</p>
            <button round item-end ion-button color="lightprimary" (click)="jogar_t_rex()">JOGAR</button>
        </ion-item>
        <ion-item *ngFor="let jogo of jogos">
            {{ jogo }}
            <ion-thumbnail item-start>
                <img src="assets/imgs/jogo_da_velha.jpg">
            </ion-thumbnail>
            <p>Descrição</p>
            <button round item-end ion-button color="lightprimary" (click)="jogar_jogo_da_velha()">JOGAR</button>
        </ion-item>
    </ion-list>
</ion-content>