page-signup {
    #Signup{
        background: color($colors, welcome-bkg);
        background-image: url("/assets/imgs/logo1.2.png");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 150px;
        margin-top: 60px;

        .h1{
            font-size: 40px;
            margin-top: 10px;
            text-align: center;
        }

        .posicao-input{
            margin-top: 0px;
        }

        .text-div{
            text-align: center;
        }

        div.fixed { 
            position: fixed; 
            top: 100px; 
            left: 0; 
            width:100%;
            height:100%;
        }

        ion-col{
            text-align: center;
        }

        .btLogin {
            width: 290px;
        }
    }
}

